*.pyc
*~
.nfs*
~$*
*.Rhistory
*.aux
*.bbl
*.blg
*.log
.*.swp
.ipynb_checkpoints
notebooks/*.rst
python/*.rst
.spyderproject
build/
auto_gallery/
.spyproject
statistics/*.rst
machine_learning/*.rst
deep_learning/*.rst
scientific_python/*.rst
machine_learning/*_files
deep_learning/*_files
scientific_python/*files
statistics/*_files
